In [52]:
import pandas as pd
jonction_budget = pd.read_csv ('Jonction_budget.csv', sep = ';')
jonction_domicile = pd.read_csv ('Jonction_domicile.csv', sep = ';')
jonction_exterieur = pd.read_csv ('Jonction_exterieur.csv', sep = ';')
df_classement = pd.read_csv ('Classement_38_journees.csv')
df_resultats = pd.read_csv ('Resultats_Matchs.csv')
df_domicile = pd.read_csv ('Stats_matchs_equipe_domicile.csv')
df_exterieur = pd.read_csv ('Stats_matchs_equipe_exterieur.csv')

print (jonction_budget.head())
print (jonction_domicile.head())
print (jonction_exterieur.head())

               CLUB  BUDGET  CLASSEMENT BUDGET CLUB thesportsdb.com
0        ANGERS SCO      41                 17               Angers
1         AS MONACO     215                  4               Monaco
2  AS SAINT-ÉTIENNE      70                  9           St Etienne
3  CLERMONT FOOT 63      20                 20        Clermont Foot
4      ESTAC TROYES      30                 19               Troyes
   Club domicile LATITUDE dom LONGITUDE dom    PAYS
0         Angers      47,4736       -0,5542  FRANCE
1       Bordeaux        44,84         -0,58  FRANCE
2          Brest        48,39         -4,49  FRANCE
3  Clermont Foot      45,7831        3,0824  FRANCE
4           Lens      50,4322        2,8333  FRANCE
  Club extérieur LATITUDE ext LONGITUDE ext    PAYS
0         Angers      47,4736       -0,5542  FRANCE
1       Bordeaux        44,84         -0,58  FRANCE
2          Brest        48,39         -4,49  FRANCE
3  Clermont Foot      45,7831        3,0824  FRANCE
4           Lens      50,4322        2,8333  FRANCE

In [53]:
print (df_resultats.head())
## Besoin de mettre un titre aux colones
## supprimer ID, supprimer lien IMG, récupérer uniquement le n° de la journée
## concaténer les noms des clubs pour créer un ID match

   1230110  2021-08-06  Round 1       Monaco  1         Nantes  1.1  \
0  1230108  2021-08-07  Round 1         Lyon  1          Brest    1
1  1230116  2021-08-07  Round 1       Troyes  1       Paris SG    2
2  1230107  2021-08-08  Round 1     Bordeaux  0  Clermont Foot    2
3  1230109  2021-08-08  Round 1         Metz  3          Lille    3
4  1230111  2021-08-08  Round 1  Montpellier  2      Marseille    3

  https://www.thesportsdb.com/images/media/event/thumb/9er6kg1625166462.jpg
0  https://www.thesportsdb.com/images/media/event...
1  https://www.thesportsdb.com/images/media/event...
2  https://www.thesportsdb.com/images/media/event...
3  https://www.thesportsdb.com/images/media/event...
4  https://www.thesportsdb.com/images/media/event...

In [54]:
df_resultats = pd.read_csv ('Resultats_Matchs.csv', names=["ID", "Date", "Journée", "Club domicile", "Score domicile", "Club extérieur", "Score extérieur", "IMG"])
df_resultats["MATCH"] = df_resultats["Club domicile"] + " vs " + df_resultats["Club extérieur"]
df_resultats=df_resultats.drop(["IMG","ID"],axis=1)
df_resultats['Journée'] = df_resultats['Journée'].str[6:]
df_resultats

,Date,Journée,Club domicile,Score domicile,Club extérieur,Score extérieur,MATCH
0,2021-08-06,1,Monaco,1,Nantes,1,Monaco vs Nantes
1,2021-08-07,1,Lyon,1,Brest,1,Lyon vs Brest
2,2021-08-07,1,Troyes,1,Paris SG,2,Troyes vs Paris SG
3,2021-08-08,1,Bordeaux,0,Clermont Foot,2,Bordeaux vs Clermont Foot
4,2021-08-08,1,Metz,3,Lille,3,Metz vs Lille
...,...,...,...,...,...,...,...
375,2022-05-21,38,Lorient,1,Troyes,1,Lorient vs Troyes
376,2022-05-21,38,Marseille,4,Strasbourg,0,Marseille vs Strasbourg
377,2022-05-21,38,Nantes,1,St Etienne,1,Nantes vs St Etienne
378,2022-05-21,38,Paris SG,5,Metz,0,Paris SG vs Metz
379,2022-05-21,38,Stade de Reims,2,Nice,3,Stade de Reims vs Nice

In [55]:
df_resultats_stats_dom=df_resultats.merge(jonction_domicile, how='left').merge(jonction_exterieur, how='left').merge(df_domicile, how='left').merge(df_exterieur, how='left')
df_resultats_stats_dom["ID CLUB-MATCH"] = df_resultats_stats_dom["Club domicile"] + df_resultats_stats_dom["Journée"]
df_resultats_stats_dom.head()

,Date,Journée,Club domicile,Score domicile,Club extérieur,Score extérieur,MATCH,LATITUDE dom,LONGITUDE dom,PAYS,...,shots_off - EQUIPE EXT,total_shots - EQUIPE EXT,blocked_shots - EQUIPE EXT,goalkeeper_saves - EQUIPE DOM,POSSESSION - EQUIPE EXT,CARTONS JAUNES - EQUIPE EXT,CARTONS ROUGES - EQUIPE EXT,fouls - EQUIPE EXT,pass - EQUIPE EXT,ID CLUB-MATCH
0,2021-08-06,1,Monaco,1,Nantes,1,Monaco vs Nantes,"43,7383","7,4245",FRANCE,...,3,5,1,0,25,0,0,14,61,Monaco1
1,2021-08-07,1,Lyon,1,Brest,1,Lyon vs Brest,"45,76","4,84",FRANCE,...,4,13,1,6,31,1,0,12,76,Lyon1
2,2021-08-07,1,Troyes,1,Paris SG,2,Troyes vs Paris SG,"48,2997","4,0792",FRANCE,...,6,12,3,0,57,4,0,15,93,Troyes1
3,2021-08-08,1,Bordeaux,0,Clermont Foot,2,Bordeaux vs Clermont Foot,"44,84","-0,58",FRANCE,...,4,19,5,8,56,0,0,9,86,Bordeaux1
4,2021-08-08,1,Metz,3,Lille,3,Metz vs Lille,"49,1203","6,1778",FRANCE,...,7,17,4,4,62,2,0,10,81,Metz1

In [56]:
df_resultats_stats_ext=df_resultats.merge(jonction_domicile, how='left').merge(jonction_exterieur, how='left').merge(df_domicile, how='left').merge(df_exterieur, how='left')
df_resultats_stats_ext["ID CLUB-MATCH"] = df_resultats_stats_dom["Club extérieur"] + df_resultats_stats_ext["Journée"]
df_resultats_stats_ext.head()

,Date,Journée,Club domicile,Score domicile,Club extérieur,Score extérieur,MATCH,LATITUDE dom,LONGITUDE dom,PAYS,...,shots_off - EQUIPE EXT,total_shots - EQUIPE EXT,blocked_shots - EQUIPE EXT,goalkeeper_saves - EQUIPE DOM,POSSESSION - EQUIPE EXT,CARTONS JAUNES - EQUIPE EXT,CARTONS ROUGES - EQUIPE EXT,fouls - EQUIPE EXT,pass - EQUIPE EXT,ID CLUB-MATCH
0,2021-08-06,1,Monaco,1,Nantes,1,Monaco vs Nantes,"43,7383","7,4245",FRANCE,...,3,5,1,0,25,0,0,14,61,Nantes1
1,2021-08-07,1,Lyon,1,Brest,1,Lyon vs Brest,"45,76","4,84",FRANCE,...,4,13,1,6,31,1,0,12,76,Brest1
2,2021-08-07,1,Troyes,1,Paris SG,2,Troyes vs Paris SG,"48,2997","4,0792",FRANCE,...,6,12,3,0,57,4,0,15,93,Paris SG1
3,2021-08-08,1,Bordeaux,0,Clermont Foot,2,Bordeaux vs Clermont Foot,"44,84","-0,58",FRANCE,...,4,19,5,8,56,0,0,9,86,Clermont Foot1
4,2021-08-08,1,Metz,3,Lille,3,Metz vs Lille,"49,1203","6,1778",FRANCE,...,7,17,4,4,62,2,0,10,81,Lille1

In [57]:
df_resultats_stats=df_resultats_stats_dom.append(df_resultats_stats_ext)
df_resultats_stats.head()

,Date,Journée,Club domicile,Score domicile,Club extérieur,Score extérieur,MATCH,LATITUDE dom,LONGITUDE dom,PAYS,...,shots_off - EQUIPE EXT,total_shots - EQUIPE EXT,blocked_shots - EQUIPE EXT,goalkeeper_saves - EQUIPE DOM,POSSESSION - EQUIPE EXT,CARTONS JAUNES - EQUIPE EXT,CARTONS ROUGES - EQUIPE EXT,fouls - EQUIPE EXT,pass - EQUIPE EXT,ID CLUB-MATCH
0,2021-08-06,1,Monaco,1,Nantes,1,Monaco vs Nantes,"43,7383","7,4245",FRANCE,...,3,5,1,0,25,0,0,14,61,Monaco1
1,2021-08-07,1,Lyon,1,Brest,1,Lyon vs Brest,"45,76","4,84",FRANCE,...,4,13,1,6,31,1,0,12,76,Lyon1
2,2021-08-07,1,Troyes,1,Paris SG,2,Troyes vs Paris SG,"48,2997","4,0792",FRANCE,...,6,12,3,0,57,4,0,15,93,Troyes1
3,2021-08-08,1,Bordeaux,0,Clermont Foot,2,Bordeaux vs Clermont Foot,"44,84","-0,58",FRANCE,...,4,19,5,8,56,0,0,9,86,Bordeaux1
4,2021-08-08,1,Metz,3,Lille,3,Metz vs Lille,"49,1203","6,1778",FRANCE,...,7,17,4,4,62,2,0,10,81,Metz1

In [58]:
df_classement_budget=df_classement.merge(jonction_budget, how='left')
df_classement_budget=df_classement_budget.drop(["BUDGET"],axis=1)
df_classement_budget.head()

,POSITION,CLUB,POINTS,JOURNEE,GAGNES,NULS,PERDUS,BUTS_POUR,BUTS_CONTRE,DIFF,CLASSEMENT BUDGET,CLUB thesportsdb.com
0,1,CLERMONT FOOT 63,3,1,1,0,0,2,0,2,20,Clermont Foot
1,2,ANGERS SCO,3,1,1,0,0,2,0,2,17,Angers
2,3,OLYMPIQUE DE MARSEILLE,3,1,1,0,0,3,2,1,2,Marseille
3,4,PARIS SAINT-GERMAIN,3,1,1,0,0,2,1,1,1,Paris SG
4,5,LOSC LILLE,1,1,0,1,0,3,3,0,5,Lille

In [59]:
df_classement_budget["JOURNEE"]=df_classement_budget["JOURNEE"].apply(str)
df_classement_budget["ID CLUB-MATCH"] = df_classement_budget["CLUB thesportsdb.com"] + df_classement_budget["JOURNEE"]
df_classement_budget.head()

,POSITION,CLUB,POINTS,JOURNEE,GAGNES,NULS,PERDUS,BUTS_POUR,BUTS_CONTRE,DIFF,CLASSEMENT BUDGET,CLUB thesportsdb.com,ID CLUB-MATCH
0,1,CLERMONT FOOT 63,3,1,1,0,0,2,0,2,20,Clermont Foot,Clermont Foot1
1,2,ANGERS SCO,3,1,1,0,0,2,0,2,17,Angers,Angers1
2,3,OLYMPIQUE DE MARSEILLE,3,1,1,0,0,3,2,1,2,Marseille,Marseille1
3,4,PARIS SAINT-GERMAIN,3,1,1,0,0,2,1,1,1,Paris SG,Paris SG1
4,5,LOSC LILLE,1,1,0,1,0,3,3,0,5,Lille,Lille1

In [60]:
df_final=df_classement_budget.merge(df_resultats_stats)
df_final=df_final.drop(["ID CLUB-MATCH"],axis=1)
df_final.head()

,POSITION,CLUB,POINTS,JOURNEE,GAGNES,NULS,PERDUS,BUTS_POUR,BUTS_CONTRE,DIFF,...,shots_on_goal - EQUIPE EXT,shots_off - EQUIPE EXT,total_shots - EQUIPE EXT,blocked_shots - EQUIPE EXT,goalkeeper_saves - EQUIPE DOM,POSSESSION - EQUIPE EXT,CARTONS JAUNES - EQUIPE EXT,CARTONS ROUGES - EQUIPE EXT,fouls - EQUIPE EXT,pass - EQUIPE EXT
0,1,CLERMONT FOOT 63,3,1,1,0,0,2,0,2,...,10,4,19,5,8,56,0,0,9,86
1,2,ANGERS SCO,3,1,1,0,0,2,0,2,...,2,5,9,2,0,43,3,0,18,78
2,3,OLYMPIQUE DE MARSEILLE,3,1,1,0,0,3,2,1,...,7,8,21,6,4,59,1,0,5,88
3,4,PARIS SAINT-GERMAIN,3,1,1,0,0,2,1,1,...,3,6,12,3,0,57,4,0,15,93
4,5,LOSC LILLE,1,1,0,1,0,3,3,0,...,6,7,17,4,4,62,2,0,10,81

In [61]:
df_final.to_excel('df_final.xlsx')

In [62]:
## si données NC => compléter avec les données de la ligue 1

In [333]:
## Données manquantes.pdf